.genre-bar {
    display: flex;
    animation: marquee 20s linear infinite;
  }
  
  .genre-bar:hover {
    animation-play-state: paused; /* Pause animation on hover */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }